body {
	font-family: 'Helvetica', sans-serif;
	float: left;
}

section {
	padding-top: 10px;
}

aside {
	float: right;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: none;
}

li {
	padding-top: 10px;
}

.jumbotron {
	background-color: white;
	padding: 10px 0;
	margin-bottom: 20px;
}

.fa {
	vertical-align: middle;
}

h2 .fa {
	margin-top: -4px;
	padding-right: 15px;
}

.card-header {
	background-color: #eceeef;
}

.hidden {
	display:none;
}

#main {
	padding: 30px 50px 50px 40px;
	text-align: left;
}

#skills li {
	padding-bottom: 7px;
}

#education .fa {
	padding-right: 10px;
}

#education ul {
	list-style-type: disc;
	text-align: left;
}

#employment li {
	padding-bottom: 3px;
}

input {
	border-width: 0 0 2px 0;
	text-align: center;
}

#contact-form .fa {
	font-size: 0.9em;
}

#contact-form .bigbox {
	text-align: left;
	width: 50%;
	height: 75px;
}

#sidebar {
	background-color: #eceeef;
	padding-top: 30px;
	min-height: 410px;
}

#sidebar img {
	margin-bottom: 20px;
}

#sidebar a {
	color: inherit;
}

#sidebar i {
	font-size: 1.3em;
}

#sidebar .fa {
	padding-right: 6.5px;
}

#sidebar .fa-github {
	font-size: 2em;
}

@media (min-width: 768px) {

	.jumbotron {
		padding: 50px 0 30px 0;
	}

	#main {
		text-align: justify;
	}

	#sidebar {
		padding-top: 10%;
		align-items: stretch;
		display: flex;
		justify-content: center;
		vertical-align: middle;
	}

	#wrapper {
		position: fixed;
	}

}
