/*
Bounce animation courtesy Lous Lin
https://github.com/l-lin/font-awesome-animation
*/

body {
  font-family: sans-serif;
}

.error {
  border: 1px solid red!important;
}

.fa-file-text {
  /* larger than fa-lg but smaller than fa-2x */
  font-size: 1.7em!important;
}

.fa-envelope {
  /* larger than fa-lg but smaller than fa-2x */
  font-size: 1.9em!important;
}

#subject {
  display: none;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in 1 forwards;
}

@-webkit-keyframes bounce {
  0%, 10%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 10%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce, .fa-chevron-circle-up:hover {
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}
